.offer-detail-page .block-system-main-block {
  width: 55%;
  float:left;
}
.offer-detail-page .offer-bid-form {
  width: 30%;
  float:right;
}
/** Main menu + user menu **/
.navigation.menu--main ul, .navigation.menu--account ul {
  list-style:none;
  height: 50px;
}
.navigation.menu--account {
  float:right;
}
.navigation.menu--main {
  float:left;
}
.navigation.menu--main ul li, .navigation.menu--account ul li {
  float:left;
  list-style:none;
}
.navigation.menu--main .menu, .navigation.menu--account .menu {
  margin: 0;
}
.navigation.menu--main ul li a, .navigation.menu--account ul li a {
  color: #0444C4;
  padding: 20px;
  text-decoration:none;
  font-size: 0.8125rem;
}
.navigation.menu--main ul li a.is-active, .navigation.menu--main ul li a:hover, .navigation.menu--account ul li a.is-active, .navigation.menu--account ul li a:hover {
  background: #E5EDFD;
  color:black;
}
/** breadcrumbs **/
.block-system-breadcrumb-block {
  clear:both;
  margin-left: min(5vw,48px);
  margin-right: min(5vw,48px);
}
.count-badge {
  color: red;
  font-weight: 600;
}

/** bidding block **/
.offer-detail-page .block-offer-bidding-table-block {
  float: right;
  width: 40%;
}

/** user profile compact view **/
.profile {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.profile .image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 auto;
  margin-right: 15px;
}
.username {
  color: #0343C3;
  font-weight: 600;
  display:flex;
  flex-grow:1;
  align-self: center;
}
